html {
    box-sizing: border-box;
}

*, ::after,::before  {
    box-sizing: inherit;
}

.body {
    max-width: 1300px;
    margin: 50px auto;
    background-image: url("../images/money.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    margin: 5px;
    color: blue;
}

